<div class='question_display'>

  <h3><%= @question.content %><br><span class='posted'>Posted by: <%= @user.username %></span></h3>


   <form class="" action="/questions/<%= @question.id %>" method="post">
    <% @answers.each do |answer| %>
     <div class="options">

       <input type="radio" name="option" value="<%= answer.id %>">  &#9829;  <%= answer.option %> ----> <%= answer.vote %><br>


     </div>
    <% end %>
    <button>VOTE</button>
  </form>


  <br>

  <div class="">
    Delete Question
    <form class="" action="/questions/<%= @question.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <!-- <button>delete question</button> -->
      <input type="submit" id="delete" name="submit" alt="search" value="">
    </form>
  </div>

</div>
